ion-content {
  --padding: 0;  // Elimina los márgenes para asegurar que la imagen ocupe bien el espacio
}

ion-img {
  width: 100%;
  height: auto;
  max-height: 90vh;  // Limita la altura de la imagen para que no ocupe toda la pantalla
}

ion-toolbar {
  --background: transparent;
}