.fotoPerfil {display: flex; align-items: center; justify-content: space-between;}

.titulo {
    font-weight: bold;    /* Hace que el texto se muestre en negrita */
    margin-left: 10px;    /* Añade una pequeña separación desde el margen izquierdo */
  }
.plusButon {display: flex; justify-content: space-between; align-items: center;} 