<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid><ion-row class="ion-justify-content-center"><ion-col  size-md="6">
  <ion-card>
  
    <ion-card-header>
      <div class="fotoPerfil">
        <!-- Contenido de Perfil y Nombre -->
        <div>
          <ion-card-title>Perfil</ion-card-title>
          <ion-card-subtitle >{{usernameData}}</ion-card-subtitle>
        </div>
    
        <!-- Avatar alineado a la derecha -->
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </div>
    </ion-card-header>

    <!-- datos e informacion del perfil -->
   


<!-- inicio de la seccion de datos del perfil -->
<ion-list [inset]="true">
  <ion-item [button]="true" detail="false">
    <div class="unread-indicator-wrapper" slot="start">
      <div class="unread-indicator"></div>
    </div>
    <ion-label>
      <ion-label>
        <strong>Vehiculo</strong>
        <br />
        <ion-note color="medium" class="ion-text-wrap">
          {{vehiculoData}} {{vehiculoPatente}}
        </ion-note>
      </ion-label>    
      <!-- Botón "+" alineado a la derecha -->
      <ion-fab vertical="center" horizontal="end" slot="end" class="plusButon" *ngIf="noTieneAuto">
        <ion-fab-button size="small" (click)="navigateToRegistroVehiculo()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-label>
  </ion-item>

  <ion-item [button]="true" detail="false">
    <div class="unread-indicator-wrapper" slot="start">
      <div class="unread-indicator"></div>
    </div>
    <ion-label>
      <ion-label>
        <strong>Kilometraje</strong>
        <br />
        <ion-note color="medium" class="ion-text-wrap">
          {{vehiculoKm}} KM
        </ion-note>
      </ion-label>    
    </ion-label>
  </ion-item>
  
  <ion-item [button]="true" detail="false">
    <div class="unread-indicator-wrapper" slot="start">
      <div class="unread-indicator"></div>
    </div>
    <ion-label>
      <ion-label>
        <strong>Correo</strong>
        <br />
        <ion-note color="medium" class="ion-text-wrap">
          {{usernameDataCorreo}}
        </ion-note>
      </ion-label>    
    </ion-label>
  </ion-item>



</ion-list>

<!-- comentario -->
    <!-- inicio de la seccion historial -->
     <div>
      <ion-card-title class="titulo" >Historial del vehiculo</ion-card-title>
    </div>

<!--     <ion-list [inset]="true">
      <ion-item [button]="true" detail="false">
        <div class="unread-indicator-wrapper" slot="start">
          <div class="unread-indicator"></div>
        </div>
        <ion-label>
          <strong>dato 1 </strong>
          <ion-text>ejemplo</ion-text><br />
    
          <ion-note color="medium" class="ion-text-wrap">
            este es un ejemplo de entrada de historial
          </ion-note>
    
        </ion-label>
    
        <div class="metadata-end-wrapper" slot="end">
          <ion-note color="medium">06:11</ion-note>
          <ion-icon color="medium" name="chevron-forward"></ion-icon>
        </div>
      </ion-item> 
    </ion-list>
 -->



    
    
    <ion-list>
      <ion-item *ngFor="let entrada of entradas_mantenimientos" [button]="true">
        <ion-card >
          <ion-card-header>
            <ion-card-title>Mantenimiento: {{ entrada.mantenimiento.nombre}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Descripción: {{ entrada.mantenimiento.descripcion}}
            <ion-note > Fecha: {{entrada.fecha_mantenimiento}}</ion-note>
          </ion-card-content>
          

        </ion-card>
      </ion-item>
    </ion-list>








  </ion-card>
</ion-col></ion-row></ion-grid>
</ion-content>
