<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid><ion-row class="ion-justify-content-center"><ion-col  size-md="6">
 <ion-card class="top">
  <ion-card-header>
    <ion-card-title>Registro de Vehículo</ion-card-title>
    <ion-card-subtitle>Ingrese sus datos</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    
    <ion-list>
      <ion-list>
        <ion-item>
          <ion-input label="Modelo" placeholder="Nombre del modelo"></ion-input>
        </ion-item>

        <!-- <ion-item>
          <ion-input label="Marca" placeholder="Marca"></ion-input>
        </ion-item> -->

        <ion-item>
          <ion-select label="Marca" placeholder="Seleccione una marca">
          <ion-select-option value="">Toyota</ion-select-option>
          <ion-select-option value="nes">Chevrolet</ion-select-option>
          <ion-select-option value="n64">Hyundai </ion-select-option>
          <ion-select-option value="ps">Kia </ion-select-option>
          <ion-select-option value="genesis">Suzuki </ion-select-option>
          <ion-select-option value="saturn">Peugeot </ion-select-option>
          <ion-select-option value="snes">Nissan </ion-select-option>
          <ion-select-option value="snes">Ford </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-input label="Año" placeholder="ej. 2007"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Patente" placeholder="AABB25 ó DD1234"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Kilometraje" placeholder="Ingrese kilometraje actual"></ion-input>
        </ion-item>

        
      </ion-list>
    </ion-list>
    <br>
    <div class="centrarBtn">
    <ion-button (click)="onClickPostData()">Registrar</ion-button>
    </div>

    
  </ion-card-content>
</ion-card>
</ion-col></ion-row></ion-grid>




</ion-content>
