.espacioLink{
    display: flex;
    justify-content:space-between;
    margin-top: 40px;
}

.centrarBtn{
  display: flex;
  justify-content: center;
  

}
p{
  color: rgb(202, 4, 4);
  margin-left: 20px;
}