<ion-header [translucent]="">
  <br><br><br><br>

 
</ion-header>

<ion-content [fullscreen]="" class="margenTop">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid><ion-row class="ion-justify-content-center"><ion-col  size-md="6">
  <ion-card>
  <ion-card-header>
    <ion-card-title>Registro de usuario</ion-card-title>
    <ion-card-subtitle>Ingrese sus datos</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    
    <ion-list>
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="dato_nombre" label="Nombre" placeholder="Ingrese Nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="dato_apellido" label="Apellido" placeholder="Ingrese Apellido"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="dato_email" label="Email " type="email" placeholder="email@domain.com"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="dato_telefono" label="telefono" type="text" value="password"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-input [(ngModel)]="dato_password" label="Contraseña" type="password" value="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input [(ngModel)]="dato_password2" label="Confirmar Contraseña" type="password" value="password"></ion-input>
        </ion-item>
    
        
      </ion-list>
    </ion-list>
    <br>
    <div class="centrarBtn">
    <ion-button (click)="onClickPostData()">Registrar</ion-button>
    </div>

    
  </ion-card-content>
</ion-card>
</ion-col></ion-row></ion-grid>





</ion-content>

