<ion-header [translucent]="">
  <br><br><br><br>

 
</ion-header>

<ion-content [fullscreen]="" class="margenTop">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid><ion-row class="ion-justify-content-center"><ion-col  size-md="6">
  <ion-card>
  <ion-card-header>
    <ion-card-title>Registro de usuario</ion-card-title>
    <ion-card-subtitle>Ingrese sus datos</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <form action="" #registroForm="ngForm">
    <ion-list>
      <ion-list >
        <ion-item>
          <ion-input [(ngModel)]="dato_nombre" label="Nombre" placeholder="Ingrese Nombre" 
          name="name" #name="ngModel" required 
          ></ion-input> 
        </ion-item>
        <div *ngIf="name.invalid && (name.dirty || name.touched)"> <p>Nombre es requerido!</p> </div>

        <ion-item>
          <ion-input [(ngModel)]="dato_apellido" label="Apellido" placeholder="Ingrese Apellido"
          name="lastname" #lastname="ngModel" required
          ></ion-input>
        </ion-item>
        <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"> <p>Apellido es requerido!</p> </div>

        <ion-item>
          <ion-input [(ngModel)]="dato_email" label="Email " type="email" placeholder="email@domain.com"
          name="correo" #correo="ngModel" required
          ></ion-input>
        </ion-item>
        <div *ngIf="correo.invalid && (correo.dirty || correo.touched)"> <p>Correo es requerido!</p> </div>

        <ion-item>
          <ion-input [(ngModel)]="dato_telefono" label="Teléfono" type="text" value="password"
          name="telefono" #telefono="ngModel" required minlength="8"
          ></ion-input>
        </ion-item>
        <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)"> 
          <p *ngIf="telefono.errors!['required']" class="colormsn">Teléfono es requerido!</p> 
          <p *ngIf="telefono.errors!['minlength']">El teléfono debe tener al menos 8 números</p>
        </div>
    
        <ion-item>
          <ion-input [(ngModel)]="dato_password" label="Contraseña" type="password" value="password"
          name="contrasena" #contrasena="ngModel" required minlength="6"
          ></ion-input>
        </ion-item>
        <div *ngIf="contrasena.invalid && (contrasena.dirty || contrasena.touched)"> 
          <p *ngIf="contrasena.errors!['required']">Contraseña es requerido!</p> 
          <p *ngIf="contrasena.errors!['minlength']">La contraseña debe tener al menos 6 dígitos</p>
        </div>

        <ion-item>
          <ion-input [(ngModel)]="dato_password2" label="Confirmar Contraseña" type="password" value="password"
          name="contrasena2" #contrasena2="ngModel" required
          ></ion-input>
        </ion-item>
        <div *ngIf="contrasena2.invalid && (contrasena2.dirty || contrasena2.touched)"> <p>Contraseña es requerido!</p> </div>

        <div *ngIf="dato_password !== dato_password2 && contrasena2.touched">
          <p>¡Las contraseñas no coinciden!</p>
        </div>
    
        
      </ion-list>
    </ion-list>
    <br>
    <div class="centrarBtn">
    <ion-button [disabled]="!registroForm.form.valid || dato_password !== dato_password2" (click)="onClickPostData()">Registrar</ion-button>
    </div>
    </form>
    
  </ion-card-content>
</ion-card>
</ion-col></ion-row></ion-grid>





</ion-content>

