<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>historial</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">historial</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

<ion-content color="light">
<!--   <ion-list [inset]="true">

  <ion-list-header>
    <ion-label>Historial de mantenciones</ion-label>
  </ion-list-header>

    <ion-item> 
      <div class="mg-top">
        <strong>Revisión de frenos</strong>
        <br />
        <ion-note color="medium" class="ion-text-wrap">
          28/08/2024
        </ion-note>
        <p>Realice revisión de frenos en el taller mecanico de matucana</p>
      </div>
    </ion-item>

    <ion-item> 
      <div class="mg-top">
        <strong>Cambio de aceite</strong>
        <br />
        <ion-note color="medium" class="ion-text-wrap">
          28/08/2024
        </ion-note>
        <p>Realice cambio de aceite en el taller de providencia </p>
      </div>
    </ion-item>
   
  </ion-list> -->
  
  
  <ion-list [inset]="true">
    <ion-item *ngFor="let entrada of entradas_mantenimientos">
      <div class="mg-top">
      <strong>{{ entrada.mantenimiento.nombre}}</strong>
      <br />
      <ion-note color="medium" class="ion-text-wrap">
        {{entrada.fecha_mantenimiento}}
      </ion-note>
      <p>Info:{{ entrada.mantenimiento.descripcion}}</p>
      </div> <br>
      <img src="{{entrada.evidencia}}" style="width: 50px;"/>
      
    </ion-item>
  </ion-list>

  <ion-card *ngIf="entradas_mantenimientos.length==0" class="centrar">
  <ion-card-header>
    <ion-card-title>Sin registros todavía.</ion-card-title>
    <ion-card-subtitle>¡hora de agregar tu primer registro!</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
  <ion-button [routerLink]="'/registro-mantencion'" color="primary">Agregar mantenimiento</ion-button>
  </ion-card-content>
</ion-card>





</ion-content>